*{
  box-sizing: border-box;
}



body {
  background-color: #001821;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.42;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  max-width: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 919px;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 150px;
}

.logo {
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 25px;
}

.nav__list {
  position: absolute;
  top: 13px;
  left: 133px;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 41px;
  font-size: 11px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__list {
  font-size: 14px;
}

.nav__list:hover {
  color: #da0100;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  position: absolute;
  top: 5px;
  right: 0;
  size: 26px;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 4px;
}

.contacts__shadow {
  padding-top: 70px;
}

.contacts__dropdown {
  font-size: 13px;
  text-decoration: underline;
  color: #ffffff;
}

.hero {
  height: 579px;
}
.hero__tittle {
  width: 515px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
}

.hero__description {
  font-style: 18px;
  margin-bottom: 51px;
}

.btn {
  background-color: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 250px;
}

.btn:hover {
  background-color: #da0100;
}


.logo{
  border: 1px solid red;
   width: 85px; 
   padding:6px;

}