body {
  background-color: #001821;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.42;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
index.css h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 82px;
}

.logo {
  display: block;
  position: absolute;
  top: 14px;
  left: 0px;
}

.nav__list {
  position: absolute;
  top: 26px;
  left: 163px;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 51px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:hover {
  color: #da0100;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  position: absolute;
  top: 13px;
  right: 0;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__shadow {
  padding-top: 62px;
  text-decoration: underline;
  color: rgba(152, 164, 168, 1);
}

.contacts__shadow:hover {
  color: rgba(255, 255, 255, 1);
}

.contacts__dropdown {
  font-size: 13px;
  text-decoration: underline;
  color: #ffffff;
}

.hero {
  height: 579px;
}
.hero__tittle {
  width: 515px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 21px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 49px;
}

.btn {
  background-color: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 250px;
  color: #ffffff;
}

.btn:hover {
  background-color: #da0100;
}

.tours {
  margin-bottom: 136px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 46px;
}

.tours__item {
  min-height: 90px;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  margin-right: 27px;
  width: 359px;
}

.tours__item:last-child {
  margin-right: 0px;
}

.tours__content {
  padding: 33px 22px;
  color: #303030;
}

.tours__item-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 19px;
}

.tours__item--picture {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  width: 141px;
  margin-right: 0px;
  margin-bottom: 20px;
  color: #666666;
  align-items: center;
  font-size: 16px;
}
.tours__days--meal {
  padding-top: 2px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.tours__item--picture:last-child {
  margin-right: 0;
}

.tours__list-service {
  margin-bottom: 45px;
}

.tours__item--calenddar {
  display: flex;
}

.tours__item--meal {
  display: flex;
}
.tours__day--meal {
  font-size: 16px;
}

.tours__btn {
  background-color: #f5170e;
  color: white;
  border: 1px solid #f5170e;
  border-radius: 35px;
  padding: 17px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.tours__btn:hover {
  background: white;
  color: #da0100;
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.news {
  margin-bottom: 55px;
}

.news__list {
  width: 568px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 47px;
}

.news__item {
  margin-right: 0px;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text--content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}

.news__item-data {
  margin-bottom: 12px;
}

.news__item-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: -10px;
}

.news__item-description {
  font-size: 16px;
}

.news__it {
  margin-right: 14px;
}

.news__imgg {
  height: 395px;
  width: 566px;
}

.news__itemm {
  margin-left: 2px;
}

.news__text--contentt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 14px 37px;
  min-height: 140px;
}

.news__item-titlee {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: -13px;
}

.paginator {
  text-align: center;
  font-size: 16px;
  margin-bottom: 143px;
}

.paginator-list,
.paginator_display {
  display: inline-block;
  vertical-align: middle;
}

.paginator_display {
  margin-right: 36px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item:hover {
  background: #ffffff;
  color: #f5170e;
  border-radius: 40px;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about__team {
  background: url(./img/mountains.png);
  width: 785px;
  height: 455px;
  margin-top: -412px;
  margin-left: 352px;
  color: #060606;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  padding: 70px 80px;
}

.about__team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 40px;
}

.about__team--text {
  font-size: 16px;
  margin-bottom: 59px;
  margin-right: 124px;
  font-weight: 400;
  line-height: 27px;
}

.about__team--text p {
  margin-bottom: 20px;
}

.about__team--text p:last-child {
  margin-bottom: 0px;
}

.about__team-img {
  display: block;
  height: 455px;
  width: 785px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
  position: relative;
}

.about {
  margin-bottom: 98px;
}

.footer {
  margin-top: 12px;
  height: 146px;
  position: relative;
  margin-top: 10px;
}

.contacts__description {
  font-size: 11px;
  color: #9a9a9a;
  
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials {
  position: absolute;
  top: 22px;
  right: 260px;
}

.social__item--icon-tg {
  background-image: url(./img/telegram.png);
}

.social__item--icon-tg:hover {
  background-image: url(./img/t.png);
}

.social__item--icon-vk {
  background-image: url(./img/vk.png);
}

.social__item--icon-vk:hover {
  background-image: url(./img/vk\ 1.png);
}

.social__item--icon-fec {
  background-image: url(./img/f.png);
}

.social__item--icon-fec:hover {
  background-image: url(./img/f2.png);
}

.social__item--icon-insta {
  background-image: url(./img/in.png);
}

.social__item--icon-insta:hover {
  background-image: url(./img/in\ 1.png);
}

.footer{
  border-top: solid 1px rgba(255, 255, 255, 1);

}

.contacts__description{
  margin-top: 10px;
}

.footer-conteiner__content{
  margin-top: 29px;
  position: relative;
}


.wrapper__main{
  background:url(./img/1.png) center top no-repeat,url(./img/2.png) right 30px bottom 160px no-repeat;
}

.contacts__phone{
  margin-top: 14px;
}
