body {
  background-color: #001821;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.42;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
index.css h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 82px;
}

.logo {
  display: block;
  position: absolute;
  top: 14px;
  left: 0px;
}

.nav__list {
  position: absolute;
  top: 26px;
  left: 163px;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 51px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__list:hover {
  color: #da0100;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  position: absolute;
  top: 13px;
  right: 0;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__shadow {
  padding-top: 41px;
}

.contacts__dropdown {
  font-size: 13px;
  text-decoration: underline;
  color: #ffffff;
}

.hero {
  height: 579px;
}
.hero__tittle {
  width: 515px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 21px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 49px;
}

.btn {
  background-color: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 250px;
  color: #ffffff;
}

.btn:hover {
  background-color: #da0100;
}

.tours {
  margin-bottom: 120px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 46px;
}

/* .tours__list {
  height: 310px;
}  */

.tours__item {
  min-height: 90px;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  margin-right: 27px;
  width: 359px;
}

.tours__item:last-child {
  margin-right: 0px;
}

.tours__content {
  padding: 33px 22px;
  color: #303030;
}

.tours__item-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 19px;
}

.tours__item--picture {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  width: 141px;
  margin-right: 0px;
  margin-bottom: 20px;
  color: #666666;
  align-items: center;
  font-size: 16px;
}
.tours__days--meal {
  padding-top: 2px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.tours__item--picture:last-child {
  margin-right: 0;
}

.tours__list-service {
  margin-bottom: 45px;
}

.tours__item--calenddar {
  display: flex;
}

.tours__item--meal {
  display: flex;
}
.tours__day--meal {
  font-size: 16px;
}

.tours__item-btn {
  background-color: #ffffff;
  color: #f5170e;
  border: 1px solid #f5170e;
  border-radius: 35px;
  padding: 17px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  
}

.tours__bali--btn{
  background-color:#F5170E;
  color: white;
  border: 1px solid #f5170e;
  border-radius: 35px;
  padding: 17px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.tours__bali--btn:hover{
  background: #F5170E;

}

.news__item{
  width: 550px;
  display: inline-block;
  vertical-align:top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


