body {
  background-color: #001821;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 950px;
}

.header {
  height: 100px;
  position: relative;
}

.logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
}

.nav__list {
  position: absolute;
  top: 42px;
  left: 350px;
}

.contacts__phone {
  position: absolute;
  top: 26px;
  right: 0;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  text-decoration: none;
}

.nav__list {
  font-size: 14px;
}

.nav__list:hover{
  color:#DA0100;
}

.contacts{
  font-style: normal;
  text-align: end;
  
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__shadow{
  padding-top: 70px;
}

.contacts__dropdown{
  font-size: 13px;
  text-decoration: underline;
  color:#FFFFFF;
}

