*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}


ul {
  list-style-type: none;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 0;
}
.nav__list{
  display: flex;
  justify-content:space-between;
  width: 35vw;
}
.contacts__dropdown{
  display:none;
}

.hero{
display: block;
margin-top: 130px;
background-color:aqua ;
width: 500px;
margin-bottom: 100px;
}
.hero__tittle{
  margin-bottom: 10px;
}
.hero__description{
  margin-bottom:10px;
}
.tours__list{
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}
.tours__item{
width: 32%;
}

